@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  min-height: 100%;
  cursor: url("../assets/images/cursor.ico"), auto;
}

body {
  min-height: 100vh;
  color: "#000";
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#__next {
  min-height: 100vh;
}

.ant-menu-submenu-selected .ant-menu-submenu-title > .ant-menu-title-content {
  color: rgb(31, 196, 168) !important;
}

.ant-menu-submenu-selected
  .ant-menu-submenu-title
  > .ant-menu-inline-collapsed-noicon {
  color: rgb(31, 196, 168) !important;
}

.ant-layout.ant-layout-has-sider > .ant-layout {
  width: auto !important;
}

.ant-menu-submenu-arrow {
  color: white !important;
}

.ant-upload-wrapper
  .ant-upload-list
  .ant-upload-list-item
  .ant-upload-list-item-name {
  cursor: alias;
  pointer-events: none;
}

:global(.ant-table-thead > tr > th) {
  text-align: center !important;
}
